{
    "importOrder": [
      "^(react/(.*)$)|^(react$)",
      "<THIRD_PARTY_MODULES>",
      "^(components/(.*)$)|^(components$)",
      "^(utils/(.*)$)|^(utils$)",
      "^(pages/(.*)$)|^(pages$)",
      "^(assets/(.*)$)|^(assets$)",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "arrowParens": "avoid",
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "bracketSpacing": true,
    "jsxBracketSameLine": false
  }